# Normalize line endings for cross-platform consistency
* text=auto

*.py  text eol=lf
*.xml text eol=lf
*.csv text eol=lf
*.po  text eol=lf
*.scss text eol=lf
*.md  text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf
